* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#categories {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#categories:not(:last-child) {
  margin-bottom: 16px;
}
.item {
  width: 392px;
  padding: 16px;
  border-radius: 4px;
  background-color: #f6f6fe;
}
.cat-list-item {
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.026em;
}
.cat-list-item:not(:first-child) {
  margin-top: 8px;
}
.cat-list-item:first-child {
  margin-top: 16px;
}
