* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#categories {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#categories:not(:last-child) {
  margin-bottom: 16px;
}
.item {
  width: 392px;
  padding: 16px;
  border-radius: 4px;
  background-color: #f6f6fe;
}
.cat-list-item {
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.026em;
}
.cat-list-item:not(:first-child) {
  margin-top: 8px;
}
.cat-list-item:first-child {
  margin-top: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery-img {
  width: 360px;
  height: 300px;
  background-color: beige;
  box-shadow: #2e2f42 0px 0px 4px 0px;
}

.input-style {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.026em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.mail-inp,
.password-inp {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.026em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.password-inp:hover,
.mail-inp:hover {
  border-radius: 4px;
  border: 1px solid #000;
}
.log-btn {
  width: 86px;
  padding: 8px, 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.026em;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
}

.log-btn:hover {
  background-color: #6c8cff;
}

#controls {
  width: fit-content;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

#controls > input {
  margin-right: 16px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.026em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

#controls > input:hover {
  border-radius: 4px;
  border: 1px solid #000;
}

#controls > button {
  width: 86px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 8px, 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.026em;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
}

#controls > button:hover {
  background-color: #6c8cff;
}
